<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levi.nfcapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="                                책갈피"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BleScanActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".FirstMenu"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SearchBook"/>
        <activity android:name=".BookgalpiMain"/>
        <activity android:name=".DDD"/>
        <activity android:name=".ShowBookInfo"/>
        <activity android:name=".BorrowBook"/>
        <activity android:name=".PopupBorrowBook" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>